<span style="font-family: Arial; font-weight:bold;font-size:1em;color:#f0f0f0;">.....................
    <span style="font-family: Arial; font-weight:bold;font-size:3.2em;color:#5d067d;">ITP EXAM SET -3 (Without Solution)

from IPython.display import Image
Image('1.png')

---------

# 4 Questions X 5 Marks = 20 Marks

------------

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#5d067d;">1.Write a code to concatenate firstname and lastname and display the output, (where both are of string datatype)?

In [1]:
first=input("Enter the first name: ")
last=input("Enter the last name: ")
print("Name is ",first +" "+ last)

Enter the first name: Megha
Enter the last name: Singhal
Name is  Megha Singhal

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#5d067d;">2.  Write a code to add “alpha”:26 to the existing dictionary.
dic={'Eddy':13,'Maria':44,'Jas':21}

In [2]:
dic={"Eddy":13,"Maria":44,"Jas":21}
dic["alpha"]=26
dic

{'Eddy': 13, 'Maria': 44, 'Jas': 21, 'alpha': 26}

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#5d067d;">3. Python program suppose the following input=6 Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}?

In [3]:
n=int(input("Enter the number"))
d={}
for i in range(1,n+1):
    d[i]=(i*i)
    print(d)

Enter the number6
{1: 1}
{1: 1, 2: 4}
{1: 1, 2: 4, 3: 9}
{1: 1, 2: 4, 3: 9, 4: 16}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#5d067d;">4. Python program which  generate a list and a tuple which contains every number.Suppose the following 
    
    input = 23,56,76,12,87 Then, the output should be:

    ['23', '56', '76', '12', '87']

    ('23', '56', '76', '12', '87')

In [24]:
values = input("Input some comma seprated numbers : ")
list = values.split(",")
#tuple = tuple(list)
print('List : ',list)
tuple(list)
print('Tuple : ',tuple)

Input some comma seprated numbers :
List :  ['']
Tuple :  <class 'tuple'>

In [25]:
list=['23', '56', '76', '12', '87']
list1=[]
for i in list:
    a=int(i)
    print(a)
    list1.append(a)
    print(list1)

23
[23]
56
[23, 56]
76
[23, 56, 76]
12
[23, 56, 76, 12]
87
[23, 56, 76, 12, 87]

In [26]:
list1

[23, 56, 76, 12, 87]

In [30]:
a=tuple(list)
a

('23', '56', '76', '12', '87')

--------

# 5 Questions X 10 Marks = 50 Marks

------

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#5d067d;">1.  Write a code to print “Python” for multiples of three instead of the number, “Coding” for the multiples of five, “Python Coding” for multiples of both three and five (range is from 1 to 26).

In [7]:
n=int(input("Enter the number"))
if n<=26:
    for i in range(1,n+1):
        if(n%3==0):
            print("Python")
        elif(n%5==0):
            print("Coding")
        elif(n%3==0 and n%5==0):
            print("Python Coding")
        else:
            print("Not divisible by 3 or 5")
else:
    print("Out of range")

Enter the number1
Not divisible by 3 or 5

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#5d067d;">2. Write a code to find the factors of 24?

In [8]:
def factors(x):
    print("The factors of",x,"are:")
    for i in range(1, x + 1):
        if x % i == 0:
           print(i)
factors(24)

The factors of 24 are:
1
2
3
4
6
8
12
24

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#5d067d;">3.Write a code to i) extract name elements alone, ii) multiply the number element by 6.07, iii) check whether the name element is carbon (use map).
d=[{'name':'hydrogen','number':1,'weight':1.0},{'name':'carbon','number':2,'weight':4.002}]

In [9]:
d={"name":"hydrogen","number":1,"weight":1.0},{"name":"carbon","number":2,"weight":4.002}
d

({'name': 'hydrogen', 'number': 1, 'weight': 1.0},
 {'name': 'carbon', 'number': 2, 'weight': 4.002})

In [10]:
print(d[0]["name"])
print(d[1]["name"])

hydrogen
carbon

In [11]:
print(d[0]["number"]*6.07)
print(d[1]["number"]*6.07)

6.07
12.14

In [12]:
#print(d[0].values())==type(int)

In [13]:
d[1]["name"]

'carbon'

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#5d067d;">4.Python program which accepts 4 digit binary numbers input = 0100,0011,1010,1001 it will check divisible by 5 or not?

In [14]:
items = []

num = [x for x in input().split(',')]

for p in num:

    x = int(p, 2)

    if not x%5:

        print(items.append(p))

print(','.join(items))

0100,0011,1010,1001
None
1010

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#5d067d;">5.Python program Suppose the following 
    
    input = hello world! 123 
    
    output:LETTERS 10

           DIGITS 3

# Finding the number of Letters and Digits in a string

In [15]:
s = input("Input a string")
d=l=0
for c in s:
    if c.isdigit():
        d=d+1
    elif c.isalpha():
        l=l+1
    else:
        pass
print("Letters", l)
print("Digits", d)

Input a stringhello world! 123
Letters 10
Digits 3

----

# 1 Question X 30 Marks = 30 Marks

-------

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#5d067d;">1.Write a Python Program to swap the first and last elements in the list?

    A. Get the input count of "number of elements in a list"
    B. Get the input of the elements one by one and create a list
    C. Create a program to swap the first and last elements in the list
    D. Display the results of the list before and after

# A) Get the input count of "number of elements in a list"

In [16]:
n=int(input("Enter number:"))
count=0
while(n>0):
   count=count+1
   n=n//10
print("The number of digits in the number are:",count)

Enter number:3265651738327687634713875
The number of digits in the number are: 25

# B) Get the input of the elements one by one and create a list

In [17]:
user_input = input("Please enter five numbers separated by a single space only: ")
input_numbers = [int(i) for i in user_input.split(' ') if i.isdigit()]
print(input_numbers)

Please enter five numbers separated by a single space only: 22 43 65 23 65
[22, 43, 65, 23, 65]

#Taking the user_input seperated by spaces one by one.("splitted with white spaces") in a list named input_numbers and then 
printing the list

# C) Create a program to swap the first and last elements in the list

In [18]:
input_list = [1,2,5,4,6,7,8]
print(input_list)
temp = input_list[len(input_list) - 1]
print(temp)
input_list[len(input_list) - 1] = input_list[0]
print(input_list)
input_list[0] = temp
print(input_list)

[1, 2, 5, 4, 6, 7, 8]
8
[1, 2, 5, 4, 6, 7, 1]
[8, 2, 5, 4, 6, 7, 1]

#First taken a unput_list that contains 8 elements now replacing the first element with the last element 
#Firstly taken the last element of the list (#As the indexing starts from 0 so length -1 will give the last element)
#The last element is stored in a new varibale temp
#Now replacing the last element with the first element and printing the list and Replacing the first element with the last which was stored in temp variable.

-----------

# D) Display the results of the list before and after

In [19]:
user_list = [1,2,5,4,6,7,8]
print("before",user_list)
after = user_list[len(user_list) - 1]
user_list[len(user_list) - 1] = user_list[0]
user_list[0] = after

print("after",user_list)

before [1, 2, 5, 4, 6, 7, 8]
after [8, 2, 5, 4, 6, 7, 1]

<span style="font-family: Arial; font-weight:bold;font-size:3em;color:#95b80b;"> THE END